<h1>Welcome to Alitwitter v5</h1>
<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.reverse().each do |tweet| %>
      <tr>
        <td>body: <%= tweet.body %></td>
      </tr>
       <tr>
        <td>date: <%= tweet.created_at %></td>
       </tr>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <br>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

