<h1>Add Tweet</h1>
<%= form_for :tweet, url: alitwitter_tweets_path do |f| %>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit 'Post Tweet' %>
    </p>
<% end %>
